<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>SmartPAN - Page not found</title>

		<link rel="stylesheet" href="/css/default.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">SmartPAN</a>
			  </div>

			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav">
			      <li><a href="/"><span class="glyphicon glyphicon-search"></span> Search</a></li>
			      <li><a href="/browse"><span class="glyphicon glyphicon-list"></span> Browse</a></li>
			      <li><a href="/import"><span class="glyphicon glyphicon-download"></span> Import</a></li>
			    </ul>

			    <ul class="nav navbar-nav navbar-right">
			      <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Statistics <b class="caret"></b></a>
		          <ul class="dropdown-menu">
		            <li><a href="#"><span class="badge pull-right">{{ .summary.Sources }}</span> Sources</a></li>
		            <li><a href="#"><span class="badge pull-right">{{ .summary.Authors }}</span> Authors</a></li>
		            <li><a href="#"><span class="badge pull-right">{{ .summary.Modules }}</span> Modules</a></li>
		            <li><a href="#"><span class="badge pull-right">{{ .summary.Packages }}</span> Packages</a></li>
		          </ul>
		        </li>
                  <!--<li><a href="/settings"><span class="glyphicon glyphicon-wrench"></span> Settings</a></li>-->
                  {{ if .config.CanUpdate }}
                  <li><a href="/settings"><span class="glyphicon glyphicon-info-sign"></span> Update available</a></li>
                  {{ end }}
                  <li><a href="/help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
                  {{ if not .config.ImportAvailable }}
                  <li class="bg-info"><a href="#"><span class="glyphicon glyphicon-refresh"></span> Loading</a></li>
                  {{ end }}
                </ul>
			  </div>
			</div>
		</nav>

		{{ if .Gotcha.Error }}
		<div class="container">
			<h1>{{.Gotcha.Error}}</h1>
			<article>
				<h2>Exception {{.Gotcha.ErrorId}}</h2>
				<pre>{{.Gotcha.Stack}}</pre>
			</article>
		</div>
		{{ end }}

		{{ if .GoPANError }}
		<div class="container">
			<h1>{{.GoPANError}}</h1>
		</div>
		{{ end }}
	</body>
</html>
