<h1>Import CPAN module</h1>
<hr>

<form role="form" method="post" action="" enctype="multipart/form-data">
	{{ if .fh.HasErrors }}
	<div class="alert alert-danger">
		<strong>Please correct the errors and try again</strong>
	</div>
	{{ end }}

	<div>
		<h3>Which index do you want to import into?</h3>
		<div class="container">
			{{ if .fh.Errors.ImportInto }}
			<div class="alert alert-danger">
				Select an index to import into or create a new index
			</div>
			{{ end }}
			<div class="list-group">
			{{ range .indexes }}
				<label class="list-group-item"><input type="radio" name="importinto" value="{{ .Name }}" style="margin-right: 10px">{{ .Name }}</label>
			{{ end }}
				<label class="list-group-item"><input type="radio" name="importinto" value="new_index" style="margin-right: 10px">Create a new index:
				{{ range .fh.Errors.NewIndex }}
					<p style="color: #f00">{{ . }}</p>
				{{ end }}
				<input type="text" class="form-control" name="newindex" placeholder="e.g. DarkPAN" value="{{ .fh.Model.NewIndex }}" style="margin-top: 5px"></label>
			</div>
		</div>
	</div>

	<div>
		<h3>Do you want to import from a CPAN mirror?</h3>
		<div class="container">
			<input type="text" class="form-control" name="cpanmirror" placeholder="e.g. http://user:pass@some.mirror:5555/cpan" value="{{ .fh.Model.CPANMirror }}">
		</div>
	</div>

	<div>
		<h3>What do you want to import?</h3>
		<div class="container">
			<ul class="nav nav-tabs" id="myTab">
			  <li class="active"><a href="#from-paste" data-toggle="tab">Paste a cpanfile</a></li>
			  <li><a href="#from-url" data-toggle="tab">Import from URL</a></li>
			  <li><a href="#from-dir" data-toggle="tab">Import from local directory</a></li>
			  <li><a href="#from-upload" data-toggle="tab">Upload a file</a></li>
			</ul>

			<div class="tab-content">
			  <div class="tab-pane active" id="from-paste">
			  	{{ if .fh.Errors.Cpanfile }}
				<div class="alert alert-danger">
					{{ range .fh.Errors.Cpanfile }}
						<div style="color: #f00">{{ . }}</div>
					{{ end }}
				</div>
				{{ end }}
				<textarea name="cpanfile" class="form-control" rows="10">{{ .fh.Model.Cpanfile }}</textarea>
			  </div>
			  <div class="tab-pane" id="from-url">
			    {{ if .fh.Errors.ImportURL }}
			  	<div class="alert alert-danger">
					{{ range .fh.Errors.ImportURL }}
						<div style="color: #f00">{{ . }}</div>
					{{ end }}
				</div>
				{{ end }}
				<input name="importurl" type="text" class="form-control" value="{{ .fh.Model.ImportURL }}" placeholder="http://path.to/Your-Module-0.01.tar.gz">
			  </div>
			  <div class="tab-pane" id="from-dir">
			    {{ if .fh.Errors.FromDir }}
			  	<div class="alert alert-danger">
					{{ range .fh.Errors.FromDir }}
						<div style="color: #f00">{{ . }}</div>
					{{ end }}
				</div>
				{{ end }}
				<input name="fromdir" type="text" class="form-control" value="{{ .fh.Model.FromDir }}" placeholder="/home/user/cpan/Your-Module-0.01.tar.gz">
			  </div>
			  <div class="tab-pane" id="from-upload">
			    {{ if .fh.Errors.FromFile }}
			  	<div class="alert alert-danger">
					{{ range .fh.Errors.FromFile }}
						<div style="color: #f00">{{ . }}</div>
					{{ end }}
				</div>
				{{ end }}
				<input name="fromfile" type="file" value="{{ .fh.Model.FromFile }}" class="form-control">
			  </div>
			</div>

			<script>
			  $(function () {
			    $('#myTab a:last').tab('show')
			  })
			</script>
		</div>
	</div>

	<div>
		<h3>Set an author ID</h3>
		<div class="container">
			<p>
			You need to set an author ID (minimum 3 characters) if you import a .tar.gz file directly.
			</p>
			<input type="text" class="form-control" name="authorid" value="{{ .fh.Model.AuthorID }}">
		</div>
	</div>

	<div style="margin-top: 15px">
		<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-play-circle"></span> Begin import</button>
	</div>

</form>